
:root {
  --font-size-body: 18px;
  --default-padding: 10px;
  --font-size-nav: 16px;
  --h1-title-font-color: bisque;
  --nav-bg-color: rgba(248, 116, 93, 0.829);
  --nav-a-font-color: hsl(228, 45%, 44%);
  --nav-a-hover-font-color: var(--h1-title-font-color);
  font-size: var(--font-size-body);
  --rounded-corners: 10px
}

body {
  font-size: var(--font-size-body);
  width: 100vw;
  height: 100vh;
  background: var(--h1-title-font-color);
}

/* div que está gerando o código em HTML */
.root{ 
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/* header */
nav {
  max-width: 320px;
  margin: 30px auto;
  height: auto;
  border-radius: var(--rounded-corners);
  background: var(--nav-bg-color);
  font-size: var(--font-size-nav);
}

.nav-items {
  display: block;
}

.nav-items li {
  /* Tipo do marcador ↓ */
  list-style-type:none;
  padding: calc(var(--default-padding) /2);
}  
.nav-items a {
  display: block;
  text-decoration: none;
  color: var(--nav-a-font-color);
}

.nav-items a:hover {
  color: var(--nav-a-hover-font-color);
  text-decoration: underline;
  transform: scale(1.03);
}

.container {
  width: 300px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: tomato;
  border-radius: calc(var(--rounded-corners) + 10px);
  padding: 1em;
  margin: auto ;
  margin-top: 50px;
}

.array-code {
  height: auto;
  background: #000; 
  border-radius: var(--rounded-corners);
  padding: var(--default-padding);
}

.array-var {
  color: #4A83B2;
}

.array-name {
  color: #8BC2DC;
}

.equal-sign, .decimal-separator, .semicolon {
  color: #C7C7C7;
}

.array-item, .double-quotes {
  color: darkgreen;
}

.brackets {
  color: yellow;
}

.liks-url{
  text-decoration: none;
  color: var(--nav-a-font-color);
  font-size: var(--font-size-body);
  margin: 10px auto
}

.liks-url:hover {
  text-decoration: none;
  color: var(--h1-title-font-color);  
}

/* footer */

footer {
  position: relative;
  margin-top: 5em;
  bottom: 0;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: var(--nav-a-font-color);
}

.btn-hamburger {
  display: none;
}

@media (max-width:768px) {
  .btn-hamburger {
    background: var(--h1-title-font-color);
    display: block;
    width: 50px;
    height: 30px;
  }

  .btn-hamburger:active{
    background: green;
  }  
  .nav-items {
    display: none;
  }

 
  
}